.header {
  &_sticky {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: rgb(28, 50, 51);
    box-shadow: 0px -6px 8px 0px #828282;
    display: flex;
    gap: 20px;
    &_nav {
      display: flex;
      margin: 0px;
      align-items: center;
      justify-content: start;
      gap: 20px;
      &_list {
        text-align: left;
        display: flex;
        gap: 10px;
        margin: 0px;
        padding: 0px;
        &_item,
        &_item--active {
          padding: 20px 0px;
          color: #fff;
          font-size: 20px;
          position: relative;
          list-style: none;
          a {
            color: #fff;
          }
          &::after {
            content: "";
            position: absolute;
            width: 0%;
            bottom: 15px;
            left: 0px;
            height: 2px;
            background-color: #fff;
            transition: 0.3s all;
          }
          &:hover {
            color: #fff;
            &::after {
              width: 100%;
            }
          }
        }
        &_item--active {
          &::after {
            width: 100%;
          }
        }
      }
      &_search {
        &_container {
          display: flex;
          gap: 30px;
          align-items: center;
          svg {
            font-size: 20px;
          }
          input {
            padding: 10px;
            background-color: #fff;
            border-radius: 55px;
            width: 100%;
            color: #828282;
            outline: none;
          }
        }
      }
    }
  }
}
