.card__character{
    text-align: center;
    background: #0a53564f;
    border-radius: 5px;
    padding: 5px;
    gap:20px;
    display: flex;
    flex-direction: row;
    width: 450px;
    position: relative;
    &_container{
        padding: 30px 0px;
        text-align: left;
    }
    &_specie,
    &_status{
        display: flex;
        justify-content: start;
        align-items: center;
        &--alive{
            background: green;
        }
        &--dead{
            background-color: red;
        }
        &--unknown{
            background-color: gray;
        }
        &_icon{
            color: red;
            font-size: 20px;
            position: relative;
            
        }
        
    }
    &_status{
        position: absolute;
        right: 0px;
        top:0px;
        display: flex;
        gap: 5px;
        .active{
            &::after{
                opacity: 1;
            }
        }
        &::after{
            content: "Estado del personaje";
            background-color: #0003;
            color: #fff;
            position: absolute;
            top: 0px;
            opacity: 1;
            padding: 5px;
            transition: 0.3s all;
        }
    }
    &_favorite{
        position: absolute;
        left: 0px;
        top: 0px;
        .btn-favorite{
            background: #0b0b0b54;
            padding: 3px 8px;
            border-radius: 4px;
        }
    }
}