@mixin tablet {
  @media screen and (max-width: 900px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 520px) {
    @content;
  }
}
.character {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 15px auto;
  &_container {
    width: 60%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    margin: auto;
    padding: 50px 20px;
    background-color: #1c3233;
    border-radius: 15px;
    @include tablet() {
      width: 80%;
    }
    @include mobile() {
      width: 90%;
    }
  }
  &_block {
    display: flex;
    gap: 15px;
    flex-direction: column;
    &_avatar {
      position: relative;
      display: flex;
      align-items: center;
      gap: 15px;
      flex-direction: column;
      img {
        border-radius: 500px;
      }
      h1 {
        // position: absolute;
        // bottom: 15px;
        // font-size: 12px;
        // text-shadow: rgb(3, 3, 3) 1px 0 10px;
      }
    }
    &_caracterist {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      background-color: black;
      padding: 30px 10px;
      border-radius: 15px;
      box-shadow: -3px 6px 9px -3px #232323;
      &_item {
        padding: 10px;
        width: 44%;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-shadow: -3px 6px 9px -3px #232323;
        border-radius: 15px;
        h2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
        }
        .btn-favorite {
          background-color: transparent;
          outline: none;
          border: none;
          &:hover {
            outline: none;
          }
        }
      }
    }
  }
  &_episodies {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 15px;
    background-color: black;
    padding: 30px 10px;
    border-radius: 15px;
    box-shadow: -3px 6px 9px -3px #232323;
    ul {
      padding: 0px;
      display: flex;
      gap: 5px;
      flex-direction: column;
      li {
        list-style: none;
        box-shadow: -3px 6px 9px -3px #232323;
        border-radius: 15px;
      }
    }
  }
}
